.button {
  /* colors */
  background: #444;
  color: white;
  /* border: 1.5px solid #222; */
  box-shadow: -3px 3px 1px #111;

  /* font */
  font-size: 2rem;
  font-weight: 800;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  /* sizing */
  min-width: 20%;
  min-height: 3.5rem;
  border-radius: 99999px;

  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.button:hover {
  cursor: pointer;
  background: radial-gradient(circle at center, #666, #444);
}

.button:active:hover {
  background: radial-gradient(circle at center, #111, #444);
  transform: translate(-2px, 2px);
  box-shadow: -1px 1px 1px #111;
}
